@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Wix+Madefor+Display:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

:root {
  --bg: #232323;
  --theme: rgb(19, 218, 119);
  --text: white;
  --text: #232323;
  --rateBox: #fceed1;
  --score: #a49578;
}


main {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

#hor,
#box {
  width: 80%;
  padding-right: 10%;
  padding-left: 10%;
}

#box {
  display: grid;
  gap: 3vh;
}

#titleBox,
#titleBoxMargin {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#titleBoxMargin {
  width: 80%;
  margin: 0 auto;
}

#titleBox nav,
#titleBoxMargin nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

#titleBox nav svg,
#titleBoxMargin nav svg {
  font-size: 1.8rem;
  border: 1px solid var(--theme);
  border-radius: 50%;
  color: var(--theme);
  transition: 0.3s ease;
  cursor: pointer;
}

#titleBox nav svg:hover,
#titleBoxMargin nav svg:hover {
  background: var(--theme);
  color: white;
}


#title {
  font-size: 1.5rem;
}

#horMargin,
#divider {
  width: 80%;
  margin: auto;
}

#divider {
  border-top: 2px solid var(--theme);
}

body::-webkit-scrollbar {
  width: 10px;
  background: lightgray;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 10px;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

#cut,
#cut2,
#cut3,
#cut6 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

#cut {
  -webkit-line-clamp: 1;
}

#cut2 {
  -webkit-line-clamp: 2;
}

#cut3 {
  -webkit-line-clamp: 3;
}

#cut6 {
  -webkit-line-clamp: 4;
}


@media all and (max-width:1300px) {

  #hor,
  #box {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }

  #horMargin,
  #divider,
  #titleBoxMargin {
    width: 90%;
    margin: auto;
  }
}

@media all and (max-width:900px) {
  main {
    gap: 3vh;
  }

  #hor,
  #box {
    width: 95%;
    padding-right: 2.5%;
    padding-left: 2.5%;
  }

  #horMargin,
  #divider,
  #titleBoxMargin {
    width: 95%;
    margin: auto;
  }
}

@media all and (max-width:500px) {
  main {
    gap: 4vh;
  }

  #box {
    display: grid;
    gap: 1vh;
  }

  #titleBox,
  #titleBoxMargin {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}