.formBox {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.left {
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left img {
  object-fit: cover;
}

.right {
  padding-top: 3vh;
  margin: auto;
}

.stepBox {
  display: flex;
}

.stepBox p {
  display: flex;
  width: 70px;
  height: 10px;
  position: relative;
  border-radius: 40px;
  background: rgb(227, 227, 227);
  transition: 0.4s ease;
}


.stepBox p sup {
  border-radius: 50%;
  width: 20px;
  position: absolute;
  right: -10px;
  top: -5px;
  height: 20px;
  background: rgb(227, 227, 227);
  z-index: 100;
  transition: 0.4s ease;
}

.stepBox p.change,
.stepBox p.change sup {
  background: var(--theme);
}

.errorBox,
.infoBox {
  padding: 8px 10px;
  border-radius: 5px;
  font-size: 0.8rem;
}


.errorBox {
  background: rgb(255, 220, 214);
  color: tomato;
}

.infoBox {
  background: #44d0ef;
  color: #e5fafb;
}

.nextTab {
  background: rgb(72, 147, 177);
  margin-left: auto;
  padding: 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: white;
  cursor: pointer;
}

.formBox form {
  display: grid;
  gap: 1.5rem;
}


.contactRow {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 0.2rem;
}

.formBox form input,
.formBox form select {
  border: 1px solid lightgray;
  padding: 12px;
  border-radius: 5px;
}

.formBox form select {
  min-width: max-content;
}

.formBox form input:focus {
  border: 1px solid var(--theme);
}

.formBox form option {
  font-family: 'Poppins', sans-serif;
}

.formBox form section,
.formBox form section div {
  display: flex;
  flex-direction: column;
}

.formBox form section div span {
  font-size: 0.9rem;
  font-weight: 600;
}

.formBox form div {
  display: grid;
}

.formBox form section div {
  gap: 0.5rem;
}

.formBox form section {
  gap: 1rem;
}

.formBox form button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  color: white;
  font-size: 1rem;
  background: var(--theme);
  border-radius: 5px;
  cursor: pointer;
}

.formBox form header {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.formBox form header svg {
  font-size: 2rem;
  color: black;
}

.formBox form footer {
  width: 100%;
  border-top: 2px solid var(--theme);
  padding: 3px 0;
  border-bottom: 2px solid var(--theme);
  display: flex;
  justify-content: center;
}

.formBox form footer svg {
  cursor: pointer;
  font-size: 3rem;
}

.formBox form p {
  display: flex;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 15px;
}

.errorList {
  padding: 15px;
  border-radius: 20px;
  background: #e5fafb;
  display: grid;
  gap: 0.3rem;
}

.errorList span {
  font-size: 0.8rem;
}


.formBox form p sub {
  display: block;
  width: 10px;
  color: white;
  min-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

.formBox form p sub svg {
  cursor: pointer;
  font-size: 1.5rem;
  color: white;
}


@media all and (max-width:1150px) {
  .formBox {
    height: auto;
    min-height: auto;
    display: flex;
    gap: 2rem;
    flex-direction: column;
  }

  .formBox .left {
    height: 200px;
  }
}

@media all and (max-width:500px) {
  .contactRow {
    display: flex;
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr; */
    gap: 0.2rem;
  }

  .contactRow input {
    max-width: 200px;
  }
}

@media all and (max-width:400px) {
  .contactRow input {
    max-width: 100%;
  }
}

@media all and (max-width:300px) {
  .formBox form div {
    width: 240px;
    max-width: 240px;
    display: grid;
  }
}